<h1 class = "text-center">
    You are currently viewing the <b>{{poll.pollname}}</b> poll
</h1>

<p style = "display:none" id = "viewpollid">{{poll.id}}</p>

<div class = "well">
    
    <div class = "row">
        
        
        <!-- Polling form -->
        <div class = "col-sm-6">
            <form name = "submitpoll" method = "POST" action = "/submitpoll">
                
                <input type = "hidden" name = "poll" value = {{poll.id}}>    
                
                <div class = "form-group">
                    <label>choice: </label>
                    <br>
                    <select id = "poll-choice" name = "poll-choice">
                        {{#each poll.options}}
                            <option value = {{this}}>{{this}}</option>
                        {{/each}}
                        
                        {{#if loggedin}}
                            <option value = "custom">Custom option</option>
                        {{/if}}
                        
                        
                    </select>
                    
                    
                    
                </div>
                
                <div id = "customchoice" class = "form-group">
                    <label>custom choice: </label>
                    <br>
                    <input type = "text" name = "custom-choice">
                    
                </div>
                
                <br>
                <button type = "submit" class = "btn btn-default">Submit</button>
                
            </form>
        
            <div style = "margin-top: 16px;" class = "twitter-share">
                <a class="twitter-share-button" 
                    href = "https://twitter.com/intent/tweet?text={{tweetmessage}}" 
                    data-size="large">
                </a>
            </div>
            
        
        </div>
        
        
        <!-- Polling results -->
        <div class = "col-sm-6">
            <canvas id="pollchart"></canvas>
        </div>
        
        
        
    </div>
    
    
</div>

<script src = "/controllers/clientviewpoll.js"></script>